body {
    background-color: #FFFFDE;
    color: #5A0000;
    font-family: sans-serif;
}

nav li {
    display: inline;
}

nav li a:hover {
    color: #ff0e1a;
}

ul{
    padding: 0;
    margin: 0;
}

input{
    display: block;
    margin-top: 0.2em;
    margin-bottom: 1em;
    font-size: 1.1em;
}

.hide{
    display: none;
}

nav {
    background: blue;
    height: 1.8em;
    font-size: large;
}

nav  a:hover {
    text-decoration: none;
}

nav ul,nav ul li ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav>ul>li {
    background-color: red;
    float: left;
    position: relative;
}

nav ul li a,nav ul li:hover ul {
    display: block;
}

nav ul li ul {
    background-color: brown;
    box-shadow: 5px 5px #777777;
    display: none;
    position: absolute;
    width: 20em;
    z-index: 100;
}

nav ul li:hover {
    background-color: yellow;
}

nav>ul>li>a,nav ul li ul li a, nav>ul>li>form>span,#logoutbutton {
    color: white;
    line-height: 1.8em;
    padding: 0 0.5em;
    text-decoration: none;
    font-weight: bold;
}
h1 {
    clear: both;
}

.MenuElement {
    text-align: center;
    vertical-align: center;
}