<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head('Categorieen toevoegen')"></head>
<body>
<nav th:replace="fragments::menu"></nav>

<h1>Hello world</h1>

<form method="post" th:action="@{/form}" th:object="${categor}">
    <label>Naam:
        <input th:field="*{naam}" autofocus required>
    </label>
    <label>Winstmarge:
        <input th:field="*{winstmarge}" required>
    </label>
    <label>Percent:
        <input type="checkbox" th:value="*{winstmargeIsPercentage}">
    </label>
    <label>Subcategorie:
        <input type="checkbox" th:value="*{isSubcategorie}">
    </label>
    <label>Parent Categorie:
        <select name="parentCategorie">
            <option th:each="categ:${categorieList}"  th:object="${categ}" th:value="*{naam}"><span th:text="*{naam}"></span>
            </option>
        </select>
    </label>
</form>


</body>
</html>