<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/justGetIt.css}">
</head>
<body>
    <nav th:fragment="menu" xmlns:th="http://www.thymeleaf.org">
        <ul>
            <li><a th:href="@{/categorien}">Categorien</a>
                <ul>
                    <li><a th:href="@{/categorieen/toevoegen}">Toevoegen</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</body>
</html>