<!DOCTYPE HTML>
<html lang="nl">
<head>
    <meta charset="utf-8">
    <link href="css/justGetIt.css" rel="stylesheet">
    <title>Just Get It: aanmelden</title>
</head>
<body>
<form method="post" action="loginUser.html">
    <label class="gebruiker login">
        Gebruiker
    <input type="text" id="username" />
    </label>
    <label class="wachtwoord login">
        Wachtwoord
        <input type="password" id="wachtwoord" />
    </label>
    <input class="ok login" type="submit" id="ok" />
</form>
</body>